.dashboard-content {
  /* border: 2px solid black; */
  min-height: 100vh;
}

.about-blog-section {
  margin: 3rem 0;
  display: flex;
  gap: 3.5rem;
}

.icons-row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  flex: 1;
  gap: 4.5rem;
  height: 100%;
}

.icon-div {
  position: relative;
}

.description-icon,
.shadow-icon {
  font-size: 6rem;
}

.shadow-icon {
  position: absolute;
  inset: 0;
  filter: blur(5px);
  animation: oscillate 6s linear infinite;
}

@keyframes oscillate {
  0% {
    filter: blur(5px);
  }
  50% {
    filter: blur(10px);
    opacity: 65%;
  }

  75% {
    filter: blur(7px);
    opacity: 25%;
  }
  100% {
    filter: blur(5px);
  }
}

.green-icon {
  color: rgb(134, 238, 16);
}

.blue-icon {
  color: rgb(0, 255, 234);
}
.yellow-icon {
  color: rgb(217, 255, 0);
}

.about-blog-description-div {
  position: relative;
  z-index: 5;
  flex: 1;
  /* border: 2px solid red; */
}

.bg-icon {
  position: absolute;
  font-size: 15rem;
  top: 0;
  left: 50%;
  top: 50%;
  z-index: -1;
  color: var(--blue);
  opacity: 30%;
  filter: blur(1.25px);
  transform: translateX(-50%) translateY(-50%);
}

.about-blog-description {
  font-size: 1.3rem;
  font-weight: 200;
  font-family: var(--mainFont);
  line-height: 1.75rem;
  margin: 0 auto;
  /* width: clamp(450px, 50%, 90%); */
  text-shadow: 0px 0px 1px var(--green);
}

.about-blog-description:first-letter {
  font-size: 4rem;
  float: left;
  line-height: 3.5rem;
  margin-right: 0.25rem;
  color: var(--blue);
}
