.blog-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--codeFont);
  gap: 2.5rem;
  padding: 5rem 0;
}

.header-h1 {
  font-weight: 200;
}

.header-h1:first-letter {
  font-weight: 500;
}
