.app {
  --mainFont: var(--interfont);
  --codeFont: var(--sourcecodefont);
  background: linear-gradient(5deg, var(--darkblack), var(--black));
  color: var(--white);
  font-family: var(--mainFont);
}

.app-content {
  max-width: 85rem;
  margin: 0 auto;
  position: relative;
}

.padded-parent-container {
  padding: 2rem 5rem;
}

@media screen and (max-width: 650px) {
  .padded-parent-container {
    padding: 1rem 3rem;
  }
}
